:root {
    --primary: #253645;
    --background: #f4f6f9;
    --white: #fff;
    --text: #253645;
    --accent: #1a2530;
}

* {
    box-sizing: border-box;
    /* margin: 0; */
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    min-height: 100vh;
    display: grid;
    /* grid-template-rows: auto 1fr auto; */
    grid-template-columns: column;
}

/* header {
   position: sticky;
   top: 0;
} */

header .container {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   max-width: 1400px;
   width: 100%;
   margin: 0 auto;
}
   
header {
   background-color: var(--primary);
   color: var(--white);
   padding: 1.5rem 1rem;
   display: grid;
   /* grid-template-columns: 1fr 1fr 1fr; */
   /* align-items: start; */
   position: sticky;
   top: 0;
}
header h1 {
   font-size: 2.5rem;
   font-weight: 700;
   margin: 0;
   white-space: nowrap;
   justify-self: start;
}

/* nav {
   display: grid;
   gap: 2rem;
   justify-content: end;
   } */
   
   .nav {
      display: grid;
      grid-auto-flow: column;
      justify-content: end;
      align-items: center;
      padding: 0 20px;
      gap: 20px;
   }
   
   nav a {
   background-color: var(--text);
   border-radius: 5px;
   padding: 0.3em 1em;
   color: var(--white);
   /* display: grid; */
   /* grid-auto-flow: column; */
   /* justify-content: end; */
   /* align-items: end; */
   display: block;
   text-decoration: none;
   font-size: 1.3rem;
   font-weight: 400;
   transition: background 0.2s;
}

 nav a:hover {
    background: var(--accent);
 }
 form {
	border: 2px solid var(--color-1);
	border-radius: 0.4em;
	padding: 1.3em;
}

.form-field {
	display: flex;
	flex-direction: column;
	margin: 0.5em 0;
	gap: 0.25em;
}
label {
	font-weight: bold;
}


input, select, textarea {
	font-size: var(--form-element-size);
	padding: 0.4em 0.9em;
	border-radius: 0.5em;
	padding: 0; 
} 
input[type="checkbox"] {
	width: var(--form-element-size);
	height: var(--form-element-size);
}  













@media (max-width: 700px) {
   header .container{
       grid-template-columns: 1fr;
       justify-items: center;
       align-items: center;   
   }
   header h1 {
   font-size: 2.5rem;
   font-weight: 700;
   margin: 0;
   white-space: nowrap;
   justify-self: center;
}
}