:root {
    --primary: #253645;
    --background: #f4f6f9;
    --white: #fff;
    --text: #253645;
    --accent: #1a2530;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: var(--primary);
    color: var(--white);
}

 header .container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
 }

 