:root {
    --primary: #253645;
    --background: #f4f6f9;
    --white: #fff;
    --text: #253645;
    --accent: #1a2530;
    --beige: rgb(245, 245, 220);
    --bodybackgroundcolor: rgb(243, 243, 228);
    --shadow: 0 8px  24px -2px rgba(37, 54, 69, 0.80);
    --content-color:  #325674;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   font-family: sans-serif;
   background-color: var(--bodybackgroundcolor);
   color: var(--text);
   min-height: 100vh;
}

/* .seminar-card {
   background-color: rgba(0, 0, 0, 0.596) ; 
   position: relative;
   border-radius: 10px;
   z-index: 0;
} */

.seminar-card::before{
   content: "";
   position: absolute;
   inset: 0;
   background-color: rgb(80, 58, 80);
   filter: blur(40px);
   z-index: -1;
}

.seminar-list > div:hover {
   box-shadow: 0 12px 32px -4px rgba(37, 54, 69, 0.25);
   background-color: rgb(165, 164, 164);
}


.seminar-list {
   background-color: var(--content-color);
   color: var(--white);
   /* box-shadow: var(--shadow); */
   border-radius: 10px;
   display: grid;
   grid-template-columns: 1fr;
   gap: 2em;
   justify-self: center;
   max-width: 1200px;
   /* width: 100%; */
   position: relative;
   padding: 2em;
}
.seminar-card {
   background-color: rgba(0, 0, 0, 0.596) ; 
   position: relative;
   border-radius: 10px;
   z-index: 0;
   max-width: 310px;
   padding: 2em;
}

.seminar-list p {
   line-height: 1.6;
}

@media (min-width: 800px) {
   .seminar-list {
      grid-template-columns: repeat(2, 1fr);
   }
} 

@media (min-width: 1300px) {
   .seminar-list {
      grid-template-columns: repeat(3, 1fr);
   } 
}
@media (max-width: 380px) {
   .seminar-list {
      padding: 0;
   } 
}

